*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

::-webkit-scrollbar {
    display: none;
}

a{
    text-decoration: none;
    color: gray;
}

html, body{
    height: 100%;
    width: 100%;
    background-color:  #eceaeb;
}

.parentContainer{
    height: 100%;
    width: 100%;
    position: relative;
    background-color:  #eceaeb;
}

.navBar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5% 9% 1% 9%;
    font-size: 19px;
    flex-wrap: wrap;
    border-bottom: 1px solid #dada;
}

.navLeft{
    display: flex;
    gap: 6vw;
    align-items: center;
}

.navLeft i{
    display: none;
}


.homeButton{
    color: black;
}

.navRight{
    cursor: pointer;
    border: 2px solid black;
    padding: 0.5% 2.5%;
    border-radius: 5px;
    transition: 0.3s;
}

.navAnchor{
    transition: 0.3s;
}

.navRight a{
    color: black;
    font-weight: bold;
}

.navRight:hover {
    background-color: black;
    color: white;
}

.navRight a:hover{
    color: white;
}

.navLeft a:hover{
    border: 2px solid black;
    padding: 0.5% 2.5%;
    border-radius: 7px;
    background-color: black;
    color: white;
}

.homeButton:hover{
    border: 2px solid black;
    padding: 0.5% 2.5%;
    border-radius: 7px;
    color: white;
}


.topContainer{
    width: 100%;
    background-image: url(./images/imageTwo.png), url(./images/imageThree.png);
    background-position: left -18rem top 9rem, right -2rem top 20rem;
    background-repeat: no-repeat;
    padding-bottom: 4%;
    background-size: auto auto, 10rem 20rem;
    padding-bottom: 4%;
}


.topContainerContent{
    display: flex;
    justify-content: space-between;
    padding: 5% 9% 4% 9%;
    flex-wrap: wrap;
    width: 100%;
}

.topContainerLeft{
    padding: 0 4% 0 0;
    width: 40%;
}

.topContainerRight{
    width: 55%;
    cursor: pointer;
    transition: 0.5s;
}

.topContainerRight:hover{
    scale: 1.1;
}

.topContainerHeading h1{
    font-size: 74px;
    line-height: 0.9;
}

.topContainerHeading{
    padding-bottom: 8%;
}

.topContainerPara{
    padding-bottom: 8%;
}

.reserveTicketButton{
    width: 40%;
    padding: 3%;
    background-color: black;
    cursor: pointer;
    border-radius: 5px;
    border: 1px solid black;
    transition: 0.3s;
}

.reserveTicketButton button {
    width: 100%;
    background: transparent;
    border: none;
    color: white;
    cursor: pointer;
    font-size: 19px;
}

.reserveTicketButton:hover{
    background-color: crimson;
}

.topContainerRight h1{
    display: none;
}

.CreateMemoryContainer{
    width: 100%;
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 3% 9% 3% 9%;
    background-image: url(./images/imageFour.png), url(./images/imageFive.png);
    background-repeat: no-repeat;
    background-size: 38% 53%, 35% 29%;
    background-position: left -9% top 26%, right -4% top 76%;
}

.createMemoryContainerText{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.createMemoryContainerTextOne{
    color: white;
    text-align: center;
}

.createMemoryContainerTextOne h2{
    font-size: 42px;
    line-height: 0.9;
} 

.createMemoryContainerTextTwo{
    width: 39%;
    padding: 3% 0%;
}

.createMemoryContainerTextTwo p{
    color: white;
    text-align: center;
    font-size: 12px;
}

.createMemoryContainerTextThree{
    border: 1px solid white;
    padding: 1% 2.5%;
    border-radius: 4px;
    transition: 0.3s;
}

.createMemoryContainerTextThree button{
    background: transparent;
    color: white;
    border: none;
    font-size: 15px;
    font-weight: bolder;
    cursor: pointer;
}

.createMemoryContainerTextThree:hover{
    background-color: crimson;
    cursor: pointer;
}

.imageSlides{
    width: 100%;
    padding: 9% 9% 7% 9%;
    background-image: url(./images/imageNine.png), url(./images/imageTen.png);
    background-repeat: no-repeat;
    background-position: left -5rem top 1rem, right -22px top 18rem;
    background-size: 7rem 40rem, 5rem 22rem;
}

.imageSlidesContainer{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

.imageSlidesContainerOne,.imageSlidesContainerTwo,.imageSlidesContainerThree{
    width: 30%;
    transition: 0.3s;
    position: relative;
}

.imageSlidesImg{
    padding-bottom: 8%;
    transition: 0.3s;
    cursor: pointer;
}

.imageSlidesContainerOne:hover,.imageSlidesContainerTwo:hover,.imageSlidesContainerThree:hover{
    scale: 1.1;
}

.imageSlidesEmpty{
    width: 15%;
    border: 2px solid black;
    transition-duration: 0.3s;
    transition-timing-function: ease-in-out;
}

.imageSlidesHeading{
    padding: 4% 0;
}

.imageSlidesHeading h2{
    font-size: 30px;
    line-height: 0.9;
}

.imageSlidesPara p{
    font-size: 14px;
}


.imageSlidesEmpty:hover{
    cursor: pointer;
    width: 70%;
}


















@media (max-width:600px) {
    .topContainer{
        background-size: auto auto ,auto auto;
    }

    .navBar i{
        display: block;
        font-size: 4vmax;
        font-weight: 800;
    }

    .navAnchor{
        display: none;
    }

    .topContainerContent{
        flex-direction: column-reverse;
    }

    .topContainerLeft{
        width: 100%;
        text-align: center;
    } 

    .topContainerLeft h1{
        display: none;
    }

    .topContainerRight h1{
        display: block;
        text-align: center;
    }

    
    .topContainerRight{
        width: 100%;
    }

    .topContainerHeading h1{
        font-size: 2em;
    }

    .topContainerRight img{
        padding-top: 7%;
    }

    .reserveTicketButton{
        width: 40%;
    }

    .reserveTicketButton button{
        font-size: 12px;
    }

    .createMemoryContainerTextOne{
        width: 100%;
        padding-bottom: 3%;
    }

    .createMemoryContainerTextOne h2{
        font-size: 1.8em;
        display: inline;
    }

    .createMemoryContainerTextTwo{
        width: 100%;
        text-align: center;
        padding-bottom: 5%;
    }

    .CreateMemoryContainer{
        padding-top: 8%;
        padding-bottom: 8%;
        background-size: 31% 22%, 31% 22%;
        background-position: left -16% top 26%, right -13% top 93%;
    }

    .imageSlidesContainer{
        flex-direction: column;
        gap: 11vh;
    }

    .imageSlidesContainerOne,.imageSlidesContainerTwo,.imageSlidesContainerThree{
        width: 100%;
    }

    .imageSlidesHeading h2{
        display: inline;
    }

    .imageSlidesEmpty{
        width: 40%;
    }

    .imageSlides{
        background-image: url(./images/imageNine.png), url(./images/imageTen.png);
        background-repeat: no-repeat;
        background-position: left -5.5rem top 1rem, right -22px top 21rem;
        background-size: 7rem 56rem, 3.4rem 44rem;
    }

}